<template>
    <div class="submit-form">
        <div v-if="!submitted">

            <div class="form-group">
                <label for="description">Aluno</label>
                <input
                        class="form-control"
                        id="description"
                        required
                        v-model="aluno.nome"
                        name="aluno_nome"
                />
            </div>
            <div class="form-group">
                <label for="title">Matricula</label>
                <input
                        type="text"
                        class="form-control"
                        id="title"
                        required
                        v-model="aluno.matricula"
                        name="aluno_matricula"
                />
            </div>


            <div class="form-group">
                <label for="description">Cursando</label>
                <select class="custom-select" name="curso_id" v-model="aluno.curso_id">
                    <option v-for="(cursoItem, index) in AllCursos"
                            :value="cursoItem.id"
                            :selected="cursoItem.id == aluno.curso_id"
                    >
                        {{cursoItem.nome}}
                    </option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label for="description">cep</label>
                <input
                        @keydown="getBuscarcep()"
                        type="text"
                        maxlength="8"
                        max="8"
                        class="form-control"
                        required
                        v-model="endereco.cep"
                        name="endereco_cep"
                />
            </div>

            <div class="form-group">
                <label for="description">endereco</label>
                <input
                        class="form-control"
                        required
                        v-model="endereco.rua"
                        name="endereco_rua"
                />
            </div>
            <div class="form-group">
                <label for="description">cidade</label>
                <input
                        class="form-control"
                        required
                        v-model="endereco.cidade"
                        name="endereco_rua"
                />
            </div>
            <div class="form-group">
                <label for="description">estado</label>
                <input
                        class="form-control"
                        required
                        v-model="endereco.estado"
                        name="endereco_estado"
                />
            </div>




            <button @click="salvarAluno" class="btn btn-success">Salvar</button>
            <button @click="deletarAluno" v-if="this.aluno.id" class="btn btn-danger">Deletar Aluno</button>
        </div>

        <div v-else>
            <h4>{{msg}}</h4>
            <button class="btn btn-success" @click="newAluno">Adicionar um novo</button>
        </div>
    </div>





</template>

<script>
    import DataService from "../../services/DataService";

    export default {
        name: "add-tutorial",
        data() {
            return {
                aluno: {
                    id: null,
                    matricula: null,
                    nome: null,
                    curso_id: null,
                    rua: null,
                    cidade: null,
                    estado: null,
                    cep: null,
                },
                curso: {
                    id: null,
                    codigo_curso: null,
                    nome: null,
                },
                endereco: {
                    id: null,
                    rua: null,
                    cidade: null,
                    estado: null,
                    cep: null,
                },
                AllCursos: [],
                cepDados: [],

                submitted: false,
                msg: null,
                show: null
            };
        },
        mounted() {
            this.getAluno(this.$route.params.id);
            this.getCursos();
        },
        watch: {

        },
        methods: {

            getAluno(id) {

                if(id){
                    DataService.getAluno(id)
                        .then(response => {
                            console.log(response.data)
                            this.aluno = response.data.data;
                            this.curso = response.data.data.curso;
                            this.endereco = response.data.data.endereco;

                        })
                        .catch(e => {
                            this.msg = response.data.message;
                            console.log(e);
                        });
                }


            },

            getBuscarcep(){
                let cep = this.endereco.cep;
                console.log('chamou')
                if(cep.length >= 8){
                    console.log('entrou')
                    DataService.buscarcep(cep)
                        .then(response => {
                            this.cepDados = response.data;
                            console.log(response.data)

                            this.endereco.rua = response.data.data.logradouro+" "+response.data.data.bairro;
                            this.endereco.cidade = response.data.data.localidade;
                            this.endereco.estado = response.data.data.uf;
                        })
                        .catch(e => {
                            this.msg = response.data.message;
                            console.log(e);
                        });
                }
            },

            getCursos(){
                DataService.getListCursos()
                    .then(response => {
                        this.AllCursos = response.data.data.data;
                    })
                    .catch(e => {
                        this.msg = response.data.message;
                        console.log(e);
                    });
            },

            salvarAluno() {


                this.aluno.cep =  this.endereco.cep;
                this.aluno.rua =  this.endereco.rua;
                this.aluno.cidade =  this.endereco.cidade;
                this.aluno.estado =  this.endereco.estado;


                 DataService.createAluno( this.aluno)
                    .then(response => {
                        this.aluno.id = response.data.data.id;
                        this.msg = response.data.message;
                        this.submitted = true;
                    })
                    .catch(e => {
                        this.msg = response.data.message;
                        console.log(e);
                    });
            },

            newAluno() {
                this.submitted = false;
                this.aluno = {};
                this.curso ={};
                this.endereco = {};
            },

            deletarAluno(){
                if(this.aluno.id){
                    DataService.deleteAluno(this.aluno.id)
                        .then(response => {
                            this.msg = response.data.message;
                            this.submitted = true;
                        })
                        .catch(e => {
                            this.msg = response.data.message;
                            console.log(e);
                        });
                }

            }
        }
    };
</script>

<style>
    .submit-form {
        max-width: 300px;
        margin: auto;
    }
</style>