<template>
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pesquise pelo nome do aluno ou matricula"
                           v-model="search"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"
                                @click="clickSearch"
                        >
                            Search
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-bottom: 20px">
                <a href="/aluno/adicionar" class="btn btn-primary">Adicionar um aluno</a>
            </div>

            <div v-for="(aluno, index) in alunos"  :key="index">
                <div class="col-md-3" >
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ aluno.nome }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Matricula: {{ aluno.matricula}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted" v-if="aluno.curso">Curso: {{ aluno.curso.nome}}</h6>
                            <router-link :to="'/alunos/editar/' + aluno.id" class="card-link">Editar Aluno</router-link>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>


        <nav v-if="this.paginacao.links[0]" aria-label="Navegação de página exemplo righ" style="float: right">
            <ul class="pagination"  >
                <li class="page-item" v-for="(pagina, index) in this.paginacao.links">
                    <a class="page-link"  :href="pagina.url" >{{pagina.label}}</a>
                </li>
            </ul>
        </nav>

    </div>




</template>

<script>
    import DataService from "../../services/DataService";

    export default {
        name: "alunos-list",
        data() {
            return {
                dataModel: [],
                alunos: [],
                search :null,
                paginacao: {
                    current_page: null,
                    links: []
                }
            };
        },
        methods: {
            getAlunos() {

                DataService.getAllAlunos(this.$route.query.page)
                    .then(response => {
                        this.alunos = null;
                        this.alunos = response.data.data.data;

                        this.dataModel = response;
                        this.getPaginacao();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            getPaginacao(){
                this.paginacao.links = [];

                for (let i = 0; i < this.dataModel.data.data.links.length; i++) {

                    let pagina = this.dataModel.data.data.links[i];
                    let url = null;

                    if(pagina.url){

                        url = pagina.url;
                        url = url.replace("/","");
                        url = this.$route.path + url;
                        pagina.url = url;
                    }

                    this.paginacao.links.push(pagina);
                }
            },

            clickSearch() {
                DataService.findyNomeAluno(this.search)
                    .then(response => {
                        this.alunos = response.data.data.data;
                        this.search= null;

                        this.dataModel = response;
                        this.getPaginacao();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

        },
        mounted() {
            this.getAlunos();
        }
    };
</script>