<template>
    <div class="container">


        <div class="row">
            <div class="col-md-6">
                <h5>Quantidade de alunos por curso</h5>

                <table class="table ">
                    <thead>
                    <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Qtd Alunos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  v-for="(item, index) in relatorioQtdAlunoCurso"  :key="index">
                        <th scope="row">{{item.curso}}</th>
                        <td>{{item.quantidade_alunos}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-md-6">
                <div  v-for="(item, index) in relatorioAlunosporcurso"  :key="index">
                    <h5>Curso: {{item.curso}} </h5>

                    <table class="table" >
                        <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Matricula</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  v-for="(alunos, index1) in item.alunos"  :key="index1">
                            <th scope="row">{{alunos.nome}}</th>
                            <td>{{alunos.matricula}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                </div>







            </div>

        </div>
        <br>


        <nav v-if="this.paginacao.links[0]" aria-label="Navegação de página exemplo righ" style="float: right">
            <ul class="pagination"  >
                <li class="page-item" v-for="(pagina, index) in this.paginacao.links">
                    <a class="page-link"  :href="pagina.url" >{{pagina.label}}</a>
                </li>
            </ul>
        </nav>

    </div>




</template>

<script>
    import DataService from "../../services/DataService";

    export default {
        name: "cursos-list",
        data() {
            return {
                dataModel: [],
                cursos: [],
                search :null,
                paginacao: {
                    current_page: null,
                    links: []
                },
                relatorioQtdAlunoCurso: [],
                relatorioAlunosporcurso: []
            };
        },
        methods: {
            getRelatorioQtdAlunoCurso() {

                DataService.getQtdalunosporcurso(this.$route.query.page)
                    .then(response => {
                        this.relatorioQtdAlunoCurso = null;
                        this.relatorioQtdAlunoCurso = response.data.data;
                        this.dataModel = response;
                        this.getPaginacao();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            getRelatorioAlunosporcurso(){
                DataService.getAlunosporcurso(this.$route.query.page)
                    .then(response => {
                        this.relatorioAlunosporcurso = null;
                        this.relatorioAlunosporcurso = response.data.data;
                        this.dataModel = response;
                        this.getPaginacao();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            getPaginacao(){
                this.paginacao.links = [];

                for (let i = 0; i < this.dataModel.data.data.links.length; i++) {

                    let pagina = this.dataModel.data.data.links[i];
                    let url = null;

                    if(pagina.url){

                        url = pagina.url;
                        url = url.replace("/","");
                        url = this.$route.path + url;
                        pagina.url = url;
                    }

                    this.paginacao.links.push(pagina);
                }
            },

            clickSearch() {
                DataService.findyNomeCurso(this.search)
                    .then(response => {
                        this.cursos = response.data.data.data;
                        this.search= null;
                        this.dataModel = response;
                        this.getPaginacao();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

        },
        mounted() {
            this.getRelatorioQtdAlunoCurso();
            this.getRelatorioAlunosporcurso();
        }
    };
</script>