<template>

    <nav class="navbar navbar-expand navbar-dark bg-dark" style="margin-bottom: 20px">
      <router-link to="/" class="navbar-brand">Wandre Alkimin</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/relatorio" class="nav-link">Relatorio</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/cursos" class="nav-link">Cursos</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/alunos" class="nav-link">Alunos</router-link>
        </li>
      </div>
    </nav>

  <div class="container-fluid text-center">
    <div class="row content" >
      <router-view />
    </div>
  </div>

</template>



<script>
  export default {
    name: "app"
  };
</script>