<template>
    <div class="submit-form">
        <div v-if="!submitted">
            <div class="form-group">
                <label for="title">Nome</label>
                <input
                        type="text"
                        class="form-control"
                        id="title"
                        required
                        v-model="curso.nome"
                        name="nome"
                />
            </div>

            <div class="form-group">
                <label for="description">Código do curso</label>
                <input
                        class="form-control"
                        id="description"
                        required
                        v-model="curso.codigo_curso"
                        name="codigo_curso"
                />
            </div>

            <button @click="salvarCurso" class="btn btn-success">Salvar</button>
            <button @click="deletarCurso" v-if="this.curso.id" class="btn btn-danger">Deletar Curso</button>
        </div>

        <div v-else>
            <h4>{{msg}}</h4>
            <button class="btn btn-success" @click="newCurso">Adicionar um novo</button>
        </div>
    </div>





</template>

<script>
    import DataService from "../../services/DataService";

    export default {
        name: "add-tutorial",
        data() {
            return {
                curso: {
                    id: null,
                    nome: null,
                    codigo_curso: null,
                },
                submitted: false,
                msg: null,
                show: null
            };
        },
        mounted() {
            this.getCurso(this.$route.params.id);
        },
        methods: {

            getCurso(id) {

                if(id){
                    DataService.getCurso(id)
                        .then(response => {
                            this.curso = response.data.data;
                        })
                        .catch(e => {
                            this.msg = response.data.message;
                            console.log(e);
                        });
                }


            },

            salvarCurso() {
                 DataService.createCurso(this.curso)
                    .then(response => {
                        this.curso.id = response.data.data.id;
                        this.msg = response.data.message;
                        this.submitted = true;
                    })
                    .catch(e => {
                        this.msg = response.data.message;
                        console.log(e);
                    });
            },

            newCurso() {
                this.submitted = false;
                this.curso = {};
            },

            deletarCurso(){
                if(this.curso.id){
                    DataService.deleteCurso(this.curso.id)
                        .then(response => {
                            this.msg = response.data.message;
                            this.submitted = true;
                        })
                        .catch(e => {
                            this.msg = response.data.message;
                            console.log(e);
                        });
                }

            }
        }
    };
</script>

<style>
    .submit-form {
        max-width: 300px;
        margin: auto;
    }
</style>